# ===== OS =====
Thumbs.db
.DS_Store
nul

# ===== Editors =====
.idea/
.vscode/
*.iml
*.swp

# ===== Java / Maven =====
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log

# ===== Node / Angular =====
node_modules/
dist/
.angular/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Env / secrets =====
.env
.env.*
!.env.example

# ===== Build artifacts =====
*.zip

# ===== Test / coverage =====
jacoco.exec
**/site/jacoco/
